<div class="container">
  <div class="row">
    <div class="col">
      <form class="form-group"  [formGroup]="form" (ngSubmit)="search()">
        <label for="search">Find your Gif:</label>
        <br>
        <input class="form-control" type="text" formControlName="input">
        <div class="mt-2">
          <button type="submit" class="btn btn-primary">Search</button>
        </div>
      </form>
    </div>
  </div>
</div>
<div class="container">
  <div class="row">
    <div class="col" *ngFor="let i of url">
      <img src="{{ i }}" alt="">
    </div>
  </div>
</div>
